<div class="section inner">
  <h1
    style="font-family: 'Shadows Into Light', cursive, Helvetica, Arial, sans-serif; font-size: 35px;line-height: 44px; color: #72A40A;">
    VertTige, votre fleuriste à Schaerbeek</h1>
  <h2 style="font-size: 18px; line-height: 30px; margin: 15px 0; width: 90%;" class="grey-text text-darken-3">Bienvenue sur le site
    internet de VertTige, un jardin de fleurs à Bruxelles</h2>
  <p class="grey-text text-darken-3">Venez découvrir notre boutique artisanale VertTige, toute en couleurs et pleine de senteurs,
    située au numéro 115 de la Place Colonel Bremer à Schaerbeek.</p>
  <p class="grey-text text-darken-3">A l'extérieur du magasin, exposées sur le pavé, des bouquets de fleurs et plantes attirent l'œil
    et vous invitent à visiter ce lieu de créations et d'exposition au service de vos événements petits et grands.</p>
  <p class="grey-text text-darken-3">Une fois passé la porte, vous découvrirez un espace fleuri aux allures des années 50, garni de
    compositions florales originales et réussies. Ancienne maison de maître aux hauts plafonds moulés et aux sols
    revêtus du plancher d'autrefois et de mosaïques aux motifs floraux, les murs sont garnis de miroirs anciens qui
    réfléchissent la beauté de nos fleurs.</p>
  <p class="grey-text text-darken-3">Nous disposons d'une large gamme de plantes vertes et de plantes fleuries dont un grand choix
    d'orchidées. Des fleurs coupées et de splendides bouquets sont présentés sur notre mobilier ancien et sur une
    cheminée aux colonnes de marbre, typique de l'Art Nouveau.</p>
  <p class="grey-text text-darken-3">En traversant le magasin, on découvre une petite cour interne aux murs en boiserie, garnie de
    fleurs, arbustes et autres végétaux de jardin soigneusement exposés.</p>
  <p class="grey-text text-darken-3">Tout respire le bon goût et l'accueil est chaleureux et convivial.</p>
  <p class="grey-text text-darken-3">Nos fleurs sont achetées en Hollande et vous sont livrées à domicile en Belgique et en
    France.</p>
  <p class="grey-text text-darken-3">Nous réalisons également sur commande des créations florales personnalisées selon vos idées,
    votre sensibilité.</p>
  <div class="row">
    <div class="col s12 m4 l4 crop-img">
      <img class="materialboxed responsive-img"
           data-caption="A picture of a way with a group of trees in a park"
           src="http://www.vert-tige.be/media/images/gallery/144/big/145.jpg">
    </div>
    <div class="col s12 m4 l4 crop-img">
      <img class="materialboxed responsive-img"
           data-caption="A picture of a way with a group of trees in a park"
           src="http://www.vert-tige.be/media/images/gallery/144/big/146.jpg">
    </div>
    <div class="col s12 m4 l4 crop-img">
      <img class="materialboxed responsive-img"
           data-caption="A picture of a way with a group of trees in a park"
           src="http://www.vert-tige.be/media/images/gallery/144/big/147.jpg">
    </div>
  </div>
  <p class="grey-text text-darken-3">N'hésitez pas à nous rendre visite ou à nous contacter pour tout renseignement
    complémentaire.</p>
</div>
