<footer class="page-footer light-green lighten-1">
  <div class="container">
    <div class="row">
      <div class="col l3 s12">
        <h5 class="grey-text text-darken-3">Lettre d'information</h5>
        <p class="grey-text text-darken-3">Vous désirez rester informé des derniers événements, remplissez le
          formulaire d'inscription à notre newsletter.</p>
      </div>
      <div class="col l3 s12">
        <h5 class="grey-text text-darken-3">Commandes & livraisons</h5>
        <p class="grey-text text-darken-3">Pour toutes commandes et demande de devis</p>
      </div>
      <div class="col l3 s12">
        <h5 class="grey-text text-darken-3">Contact</h5>
        <p class="grey-text text-darken-3">Place Colonel Bremer 115<br />B-1030 Bruxelles</p>
        <p><a id="mapTrigger" class="pink-text lighten-2" href="#modal1">Plan d'accès</a></p>
        <div id="modal1" class="modal">
          <div class="modal-content">
            <div id="map"></div>
          </div>
        </div>
        <p class="grey-text text-darken-3">Tél.:+32 (0)2 215 92 00<br />Gsm: +32 (0)475 59 30 23</p>
        <p class="grey-text text-darken-3">E-mail: <a class="pink-text lighten-2" href="mailto:info@vert-tige.be">info@vert-tige.be</a><br />N° TVA: BE0808.829.352</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Site réalisé par <a class="orange-text text-lighten-3" href="http://adibajramov.xyz/">Hybz</a>
    </div>
  </div>
</footer>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdFTDd34sKCvqefIERkAQ45HwNmF6P6ME">
</script>
